[user]
	email = dylan.r.kamstra@gmail.com
	name = glaspal6
[init]
	defaultBranch = main
[pull]
	rebase = false
[alias]
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
[worktree]
	guessRemote = true

